{% macro displayMovieList(movie_list) %} {% for movie in movie_list %}
<style>
    a{
        color: green;
    }

    body{
        background-color: black;
    }
</style>
<body>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
    <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive" style="margin-bottom: 3%;">
    <li class="text-center">
        <a href="/movie/{{movie.id}}">{{ movie.title|truncate(20)}}</a>
    </li>
</div>
</body>
{% endfor %} {% endmacro %}